*,*:before,*:after{
  box-sizing: border-box;
    font-family: Arial;
}
.App{
    width: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-column-gap: 30px;
}


.post-item{
    padding: 15px;
    border: 1px solid #dedede;
    border-radius: 8px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-column-gap: 20px;
    align-items: center;
}
.post-item__title{
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-bottom: 10px;
}
.post-item__description{
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.post-item__remove{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input{
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.btn{
    display: block;
    border: 1px solid #000;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}